.container {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.box {
width: 60%;
height: 60%;
background: #fff;
border-radius: 20px;
text-align: center;
margin-top: 20px;
}
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f88275 0%, #FF6347 35%, #FA8072 100%);
}

.logoCadastro {
    width: 35%;
    height: 35%;
}

form{
    text-align: center;
}

.Input{
    display: flex;
}

.inputs, .Entrar{
    width: 80%;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px;
}

.Entrar{
    background: linear-gradient(90deg, #f88275 0%, #FF6347 35%, #FA8072 100%);
    border: none !important;
    color: white;
    cursor: pointer;
    padding: 0px !important;
    width: 85%;
}

.Entrar:hover{
    background: linear-gradient(90deg, #fa7364 0%, #fd5639 35%, #fd6958 100%);
}

.Registrar {
    cursor: pointer;
}